{% extends "ui/panels/_base.html" %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block panel_content %}
  {% if related_cables_custom_field %}
    {% if related_cables_table.rows %}
      <div class="table-responsive">
        {% render_table related_cables_table 'inc/table.html' %}
      </div>
    {% else %}
      <div class="card-body text-muted">{% trans "None" %}</div>
    {% endif %}
  {% else %}
    <div class="card-body">
      <div class="alert alert-info mb-0" role="alert">
        {% blocktrans %}Create the custom field <code>cross_connect</code> on <code>dcim.Cable</code> to link cables to this cross connect.{% endblocktrans %}
      </div>
    </div>
  {% endif %}
{% endblock panel_content %}
